html
{
	background-color: #A3CDFF;
}
#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #A3CDFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}
#u419
{
	z-index: 2;
	width: 840px;
	position: relative;
	margin-right: -840px;
	margin-top: 1px;
}
#u306
{
	z-index: 4;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -118px;
	margin-top: 361px;
	left: 722px;
}
#u306:hover
{
	background-image: url("../images/flashcards_hover.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin: 361px -118px 0px 0px;
}
#u323
{
	z-index: 6;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -118px;
	margin-top: 400px;
	left: 599px;
}
#u323:hover
{
	background-image: url("../images/demos_hover.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin: 400px -118px 0px 0px;
}
#u323.MuseLinkActive
{
	background-image: none;
	margin: 400px -118px 0px 0px;
}
#u334
{
	z-index: 8;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -118px;
	margin-top: 407px;
	left: 477px;
}
#u334:hover
{
	background-image: url("../images/songs_hover.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin: 407px -118px 0px 0px;
}
#u334.MuseLinkActive
{
	background-image: none;
	margin: 407px -118px 0px 0px;
}
#pu345
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 364px;
	left: 350px;
}
#u345
{
	z-index: 11;
	position: relative;
	width: 133px;
	margin-right: -133px;
	visibility: visible;
}
#u345-2
{
	z-index: 13;
	position: relative;
	width: 133px;
	margin-right: -133px;
	visibility: hidden;
}
#pu345:hover #u345
{
	visibility: hidden;
}
#pu345:hover #u345-2
{
	visibility: visible;
}
#u356
{
	z-index: 15;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -118px;
	margin-top: 342px;
	left: 232px;
}
#u356:hover
{
	background-image: url("../images/games_hover.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin: 342px -118px 0px 0px;
}
#u356.MuseLinkActive
{
	background-image: none;
	margin: 342px -118px 0px 0px;
}
#u367
{
	z-index: 17;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -118px;
	margin-top: 361px;
	left: 113px;
}
#u367:hover
{
	background-image: url("../images/videos_hover.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin: 361px -118px 0px 0px;
}
#u306.MuseLinkActive,#u367.MuseLinkActive
{
	background-image: none;
	margin: 361px -118px 0px 0px;
}
#u378
{
	z-index: 19;
	width: 51px;
	position: relative;
	margin-right: -51px;
	margin-top: 191px;
	left: 97px;
}
#u383
{
	z-index: 21;
	width: 44px;
	position: relative;
	margin-right: -44px;
	margin-top: 193px;
	left: 37px;
}
#u389
{
	z-index: 23;
	width: 107px;
	position: relative;
	margin-right: -107px;
	margin-top: 6px;
	left: 38px;
}
#u402
{
	z-index: 25;
	position: relative;
	width: 59px;
	margin-right: -60px;
	margin-top: 318px;
	left: -4px;
}
#u345_img,#u345-2_img,#u402_img
{
	display: block;
	vertical-align: top;
}
#u408
{
	z-index: 27;
	width: 82px;
	background-color: transparent;
	position: relative;
	margin-right: -82px;
	margin-top: 417px;
	left: 29px;
}
#u408:hover
{
	background-image: url("../images/aboutus_hover.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin: 417px -82px 0px 0px;
}
#u408.MuseLinkActive
{
	background-image: none;
	margin: 417px -82px 0px 0px;
}
#u419_img,#u306_img,#u323_img,#u334_img,#u356_img,#u367_img,#u378_img,#u383_img,#u389_img,#u408_img
{
	vertical-align: top;
}

